{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>

        {% block content %}
        {% endblock %}

        <hr>

        <div class="navigation">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'video_list' %}">Video List</a>
            <a href="{% url 'add_video' %}">Add a Video</a>
        </div>
    
    </body>
</html>

